<div class="row">
  <div class="span0 well text-center">
    <% if logged_in? %>
      <%= link_to vote_post_path(post, vote: 't'), method: 'post' do %>
        <i class="icon-arrow-up"></i>
      <% end %>
    </br>
    <% end %>
    <%= "#{post.total_votes} Votes" %>
    </br>
    <% if logged_in? %>
      <%= link_to vote_post_path(post, vote: 'f'), method: 'post' do %>
        <i class="icon-arrow-down"></i>
      <% end %>
    <% end %>
  </div>
  <div class="span8 well">
    <%= render post.categories %>
    <div class="post_title_url" target="_blank">
      <h4><%= link_to post.title, fix_url(post.url), :target => "_blank" %></h4>
    </div>
    <p><%= simple_format(post.description) %></p>
      <span class="quiet">posted by </span><%= link_to("#{post.creator.username}", user_path(post.creator.username)) %>
      <small>at <%= date_time(post.created_at) %></small>
    </p>
    <small>
    <span>
      <%= link_to("#{post.comments.size} comments", post_path(post)) %>
    </span>
    </small>
  </div>
</div>