<% if logged_in? && @post.user_id == current_user.id %>
  <p class="pull-right">
    [<%= link_to "edit this post", edit_post_path(@post)%>]
  </p>
<% end %>

<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<p>
  <%= simple_format(@post.description) %>
</p>
<hr/>
<% if logged_in? %>
  <h5>Leave a Comment:</h5>
  <%= form_for [@post, @comment] do |f| %>
    <div class="row">
      <%= render 'shared/errors', obj: @comment %>
    </div>
    <div class="control-group">
      <% f.label :body %>
      <%= f.text_area :body, rows: 3, class: 'span4' %>
    </div>
    <%= f.submit "Create Comment", class: "btn btn-primary" %>
  <% end %>
<% end %>

<h5>Comments:</h5>
<% @post.comments.all.sort_by{|x| x.total_votes}.reverse.each do |comment| %>
  <%= render 'comments/comment', comment: comment %>
<% end %>

